In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Dataset 1. Covid Tracking Project Dataset
- this dataset is downloaded from [CovidTrackingProject](https://covidtracking.com)
- we have uploaded this dataset to GitHub as part of the codes

### Dataset Structure

In [2]:
df = pd.read_csv('all-states-history.csv')
print(df.shape)
df.head()

(13719, 42)

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-11-02,AK,A,84.0,84.0,1,NaN,NaN,NaN,97.0,...,620170.0,15963,NaN,NaN,NaN,NaN,NaN,0,620170.0,15963
1,2020-11-02,AL,A,2973.0,2767.0,0,206.0,20450.0,20450.0,967.0,...,1356420.0,3840,NaN,NaN,64932.0,NaN,NaN,0,1356420.0,3840
2,2020-11-02,AR,A+,1985.0,1817.0,60,168.0,7110.0,7110.0,672.0,...,1363429.0,16457,NaN,21856.0,NaN,62842.0,NaN,0,1363429.0,16457
3,2020-11-02,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1768.0,152,NaN,NaN,NaN,NaN,NaN,0,1768.0,152
4,2020-11-02,AZ,A+,5982.0,5664.0,1,318.0,21573.0,21573.0,918.0,...,1792602.0,6835,320952.0,NaN,NaN,NaN,1792602.0,6835,NaN,0

In [3]:
df.drop('dataQualityGrade', axis=1, inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13719 entries, 0 to 13718
Data columns (total 41 columns):
date                                13719 non-null object
state                               13719 non-null object
death                               12901 non-null float64
deathConfirmed                      5728 non-null float64
deathIncrease                       13719 non-null int64
deathProbable                       4186 non-null float64
hospitalized                        7923 non-null float64
hospitalizedCumulative              7923 non-null float64
hospitalizedCurrently               10712 non-null float64
hospitalizedIncrease                13719 non-null int64
inIcuCumulative                     2313 non-null float64
inIcuCurrently                      6268 non-null float64
negative                            13413 non-null float64
negativeIncrease                    13719 non-null int64
negativeTestsAntibody               790 non-null float64
negativeTestsPeopleAntibody         632 non-null float64
negativeTestsViral                  2891 non-null float64
onVentilatorCumulative              802 non-null float64
onVentilatorCurrently               5160 non-null float64
positive                            13586 non-null float64
positiveCasesViral                  10551 non-null float64
positiveIncrease                    13719 non-null int64
positiveScore                       13719 non-null int64
positiveTestsAntibody               1809 non-null float64
positiveTestsAntigen                459 non-null float64
positiveTestsPeopleAntibody         632 non-null float64
positiveTestsPeopleAntigen          258 non-null float64
positiveTestsViral                  4168 non-null float64
recovered                           9665 non-null float64
totalTestEncountersViral            3163 non-null float64
totalTestEncountersViralIncrease    13719 non-null int64
totalTestResults                    13684 non-null float64
totalTestResultsIncrease            13719 non-null int64
totalTestsAntibody                  2472 non-null float64
totalTestsAntigen                   681 non-null float64
totalTestsPeopleAntibody            1020 non-null float64
totalTestsPeopleAntigen             374 non-null float64
totalTestsPeopleViral               5658 non-null float64
totalTestsPeopleViralIncrease       13719 non-null int64
totalTestsViral                     8426 non-null float64
totalTestsViralIncrease             13719 non-null int64
dtypes: float64(30), int64(9), object(2)
memory usage: 4.3+ MB

In [5]:
# sum of null values in each column; sort them in order
isnull_sum = df.isnull().sum()
isnull_sum.sort_values()

date                                    0
totalTestsPeopleViralIncrease           0
totalTestResultsIncrease                0
totalTestEncountersViralIncrease        0
positiveScore                           0
positiveIncrease                        0
negativeIncrease                        0
hospitalizedIncrease                    0
totalTestsViralIncrease                 0
state                                   0
deathIncrease                           0
totalTestResults                       35
positive                              133
negative                              306
death                                 818
hospitalizedCurrently                3007
positiveCasesViral                   3168
recovered                            4054
totalTestsViral                      5293
hospitalizedCumulative               5796
hospitalized                         5796
inIcuCurrently                       7451
deathConfirmed                       7991
totalTestsPeopleViral                8061
onVentilatorCurrently                8559
deathProbable                        9533
positiveTestsViral                   9551
totalTestEncountersViral            10556
negativeTestsViral                  10828
totalTestsAntibody                  11247
inIcuCumulative                     11406
positiveTestsAntibody               11910
totalTestsPeopleAntibody            12699
onVentilatorCumulative              12917
negativeTestsAntibody               12929
totalTestsAntigen                   13038
positiveTestsPeopleAntibody         13087
negativeTestsPeopleAntibody         13087
positiveTestsAntigen                13260
totalTestsPeopleAntigen             13345
positiveTestsPeopleAntigen          13461
dtype: int64

#### Conclusion:
- coulmns named "XXXIncrease" should be dropped
- totalestResults, positive, negative, hospitalizedCurrently, positiveCasesViral, recovered are acceptable to use
- ICU & ventilator need external datasets

Following codes were trying to select "good" states with ample data;  But we decided to use all states' data later on, hence we no longer need to select states.

In [7]:
# group by states; sum of null values of the whole state in each column
#null_by_state = df.groupby('state').apply(lambda x: x.isnull().sum())
#null_by_state['death'].shape

(56,)

In [9]:
# select states by constraints on 4 columns first (the 4 columns have the fewest null values on whole dataset)
#select1 = null_by_state[(null_by_state['hospitalizedCurrently']<50) 
            #& (null_by_state['positive']<50) 
            #& (null_by_state['negative']<50) 
            #& (null_by_state['totalTestResults']<50)
            #& (null_by_state['recovered']<50)]

In [6]:
null_by_date = df.groupby('date').apply(lambda x: x.isnull().sum())
print(null_by_date['death'].shape)
print(null_by_date['death'][:1], null_by_date['death'][-1:])

(286,)
date
2020-01-22    2
Name: death, dtype: int64 date
2020-11-02    0
Name: death, dtype: int64

#### Conclusion:
- this dataset covers data from 2020-01-22 to 2020-11-02 for every state in U.S

### Preprocessing specific columns

In [7]:
## transform to 'datetime' format data
datetime = pd.to_datetime(df.iloc[:, 0], format='%Y-%m-%d')
df.insert(0, 'datetime', datetime)
df.drop(['date'], axis=1, inplace=True)

In [8]:
print(df.shape)
df.head()

(13719, 41)

,datetime,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-11-02,AK,84.0,84.0,1,NaN,NaN,NaN,97.0,0,...,620170.0,15963,NaN,NaN,NaN,NaN,NaN,0,620170.0,15963
1,2020-11-02,AL,2973.0,2767.0,0,206.0,20450.0,20450.0,967.0,0,...,1356420.0,3840,NaN,NaN,64932.0,NaN,NaN,0,1356420.0,3840
2,2020-11-02,AR,1985.0,1817.0,60,168.0,7110.0,7110.0,672.0,55,...,1363429.0,16457,NaN,21856.0,NaN,62842.0,NaN,0,1363429.0,16457
3,2020-11-02,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,1768.0,152,NaN,NaN,NaN,NaN,NaN,0,1768.0,152
4,2020-11-02,AZ,5982.0,5664.0,1,318.0,21573.0,21573.0,918.0,15,...,1792602.0,6835,320952.0,NaN,NaN,NaN,1792602.0,6835,NaN,0

In [9]:
us_state_abbrev = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',  ##
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',  ##
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',  ##
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',  ##
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',  ##
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [10]:
## transform state name abbreviation to full name
location_name = []
for i in df.loc[:, 'state']:
    location_name.append(us_state_abbrev[i])
df.insert(1, 'location_name', location_name)
df.drop(['state'], axis=1, inplace=True)
print(df.shape)
df.head()

(13719, 41)

,datetime,location_name,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-11-02,Alaska,84.0,84.0,1,NaN,NaN,NaN,97.0,0,...,620170.0,15963,NaN,NaN,NaN,NaN,NaN,0,620170.0,15963
1,2020-11-02,Alabama,2973.0,2767.0,0,206.0,20450.0,20450.0,967.0,0,...,1356420.0,3840,NaN,NaN,64932.0,NaN,NaN,0,1356420.0,3840
2,2020-11-02,Arkansas,1985.0,1817.0,60,168.0,7110.0,7110.0,672.0,55,...,1363429.0,16457,NaN,21856.0,NaN,62842.0,NaN,0,1363429.0,16457
3,2020-11-02,American Samoa,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,1768.0,152,NaN,NaN,NaN,NaN,NaN,0,1768.0,152
4,2020-11-02,Arizona,5982.0,5664.0,1,318.0,21573.0,21573.0,918.0,15,...,1792602.0,6835,320952.0,NaN,NaN,NaN,1792602.0,6835,NaN,0

In [11]:
## select columns with acceptable nulls
## *inIcuCurrently and onVetilatorCurrently still have a lot of null
features = ['datetime',
 'location_name',
 'death',
 'hospitalizedCurrently',
 'inIcuCurrently',
 'negative',
 'onVentilatorCurrently',
 'positive',
 'recovered',
 'totalTestResults']
df_clean = df.loc[:, features]
print(df_clean.shape)
df_clean.head()

(13719, 10)

,datetime,location_name,death,hospitalizedCurrently,inIcuCurrently,negative,onVentilatorCurrently,positive,recovered,totalTestResults
0,2020-11-02,Alaska,84.0,97.0,NaN,603113.0,6.0,17057.0,7110.0,620170.0
1,2020-11-02,Alabama,2973.0,967.0,NaN,1190436.0,NaN,194892.0,81005.0,1356420.0
2,2020-11-02,Arkansas,1985.0,672.0,251.0,1258726.0,112.0,113641.0,101507.0,1363429.0
3,2020-11-02,American Samoa,0.0,NaN,NaN,1768.0,NaN,0.0,NaN,1768.0
4,2020-11-02,Arizona,5982.0,918.0,231.0,1550382.0,120.0,248139.0,41589.0,1792602.0

# Dataset 2. Hospitalization data
- this dataset is downloaded from [HealthData](https://covid19.healthdata.org/united-states-of-america?view=total-deaths&tab=trend)
- we didn't upload this dataset on GitHub because its size reached maximum

### Dataset structure

In [21]:
df_hospital = pd.read_csv('hospitalization_all_locs.csv')
print(df_hospital.shape)
df_hospital.head()

(152488, 73)

,location_id,date,V1,location_name,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,...,est_infections_mean_p100k_rate,est_infections_lower_p100k_rate,est_infections_upper_p100k_rate,inf_cuml_mean,inf_cuml_upper,inf_cuml_lower,seroprev_mean,seroprev_upper,seroprev_lower,seroprev_data_type
0,1,2020/2/4,48609,Global,14282.96574,14282.96574,14282.96574,5827.528414,5827.528414,5827.528414,...,0.257229,0.216345,0.307828,19902.99479,23818.10353,16739.59124,0.000033,0.000044,0.000024,projected
1,1,2020/2/5,48610,Global,15571.17255,15571.17255,15571.17255,6217.948134,6217.948134,6217.948134,...,0.248723,0.209659,0.296248,39147.82713,46740.16291,32961.88382,0.000037,0.000047,0.000028,projected
2,1,2020/2/6,48611,Global,16762.15309,16762.15309,16762.15309,6559.103608,6559.103608,6559.103608,...,0.240485,0.203118,0.284973,57755.26436,68789.85954,48678.06379,0.000040,0.000051,0.000031,projected
3,1,2020/2/7,48612,Global,17837.85508,17837.85508,17837.85508,6845.497859,6845.497859,6845.497859,...,0.232862,0.196742,0.274455,75772.87967,90025.71510,63900.89907,0.000043,0.000054,0.000034,projected
4,1,2020/2/8,48613,Global,18776.75540,18776.75540,18776.75540,7071.639802,7071.639802,7071.639802,...,0.225968,0.192549,0.266491,93257.07859,110645.38530,78799.28392,0.000046,0.000057,0.000037,projected

In [22]:
df_hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152488 entries, 0 to 152487
Data columns (total 73 columns):
location_id                         152488 non-null int64
date                                152488 non-null object
V1                                  152488 non-null int64
location_name                       152488 non-null object
allbed_mean                         152488 non-null float64
allbed_lower                        152488 non-null float64
allbed_upper                        152488 non-null float64
ICUbed_mean                         152488 non-null float64
ICUbed_lower                        152488 non-null float64
ICUbed_upper                        152488 non-null float64
InvVen_mean                         152488 non-null float64
InvVen_lower                        152488 non-null float64
InvVen_upper                        152488 non-null float64
admis_mean                          152488 non-null float64
admis_lower                         152488 non-null float64
admis_upper                         152488 non-null float64
newICU_mean                         152488 non-null float64
newICU_lower                        152488 non-null float64
newICU_upper                        152488 non-null float64
bedover_mean                        152488 non-null float64
bedover_lower                       152488 non-null float64
bedover_upper                       152488 non-null float64
icuover_mean                        152488 non-null float64
icuover_lower                       152488 non-null float64
icuover_upper                       152488 non-null float64
hosp_data_type                      152488 non-null object
deaths_data_type                    152488 non-null object
deaths_mean                         148165 non-null float64
deaths_lower                        148165 non-null float64
deaths_upper                        148165 non-null float64
totdea_mean                         148165 non-null float64
totdea_lower                        148165 non-null float64
totdea_upper                        148165 non-null float64
deaths_mean_smoothed                152488 non-null float64
deaths_lower_smoothed               152488 non-null float64
deaths_upper_smoothed               152488 non-null float64
totdea_mean_smoothed                152488 non-null float64
totdea_lower_smoothed               152488 non-null float64
totdea_upper_smoothed               152488 non-null float64
mobility_data_type                  150841 non-null object
mobility_composite                  150841 non-null float64
total_tests_data_type               142021 non-null object
total_tests                         142021 non-null float64
confirmed_infections_data_type      96943 non-null object
confirmed_infections                96048 non-null float64
est_infections_data_type            152488 non-null object
est_infections_mean                 152488 non-null float64
est_infections_lower                152488 non-null float64
est_infections_upper                152488 non-null float64
total_pop                           151312 non-null float64
deaths_mean_p100k_rate              146989 non-null float64
deaths_lower_p100k_rate             146989 non-null float64
deaths_upper_p100k_rate             146989 non-null float64
totdea_mean_p100k_rate              146989 non-null float64
totdea_lower_p100k_rate             146989 non-null float64
totdea_upper_p100k_rate             146989 non-null float64
deaths_mean_smoothed_p100k_rate     151312 non-null float64
deaths_lower_smoothed_p100k_rate    151312 non-null float64
deaths_upper_smoothed_p100k_rate    151312 non-null float64
totdea_mean_smoothed_p100k_rate     151312 non-null float64
totdea_lower_smoothed_p100k_rate    151312 non-null float64
totdea_upper_smoothed_p100k_rate    151312 non-null float64
confirmed_infections_p100k_rate     95488 non-null float64
est_infections_mean_p100k_rate      151312 non-null float64
est_infections_lower_p100k_rate     151312 non-null float64
est_infections_upper_p100k_rate     151312 non-null float64
inf_cuml_mean                       152488 non-null float64
inf_cuml_upper                      152488 non-null float64
inf_cuml_lower                      152488 non-null float64
seroprev_mean                       149744 non-null float64
seroprev_upper                      149744 non-null float64
seroprev_lower                      149744 non-null float64
seroprev_data_type                  149744 non-null object
dtypes: float64(62), int64(2), object(9)
memory usage: 84.9+ MB

In [28]:
### Since the dataset includes all regions worldwide, need to select us states first
us_states = list(us_state_abbrev.values())
df_us_hospital = df_hospital[df_hospital['location_name'] == us_states[0]]
for i in range(1, len(us_states)):
    name = us_states[i]
    data = df_hospital[df_hospital['location_name'] == name]
    print(name, data.shape[0])
    df_us_hospital = df_us_hospital.append(data)
print(df_us_hospital.shape)

Alabama 392
Arkansas 392
American Samoa 0
Arizona 392
California 392
Colorado 392
Connecticut 392
District of Columbia 392
Delaware 392
Florida 392
Georgia 392
Guam 392
Hawaii 392
Iowa 392
Idaho 392
Illinois 392
Indiana 392
Kansas 392
Kentucky 392
Louisiana 392
Massachusetts 392
Maryland 392
Maine 392
Michigan 392
Minnesota 392
Missouri 392
Northern Mariana Islands 0
Mississippi 392
Montana 392
North Carolina 392
North Dakota 392
Nebraska 392
New Hampshire 392
New Jersey 392
New Mexico 392
Nevada 392
New York 392
Ohio 392
Oklahoma 392
Oregon 392
Pennsylvania 392
Puerto Rico 392
Rhode Island 392
South Carolina 392
South Dakota 392
Tennessee 392
Texas 392
Utah 392
Virginia 392
Virgin Islands 0
Vermont 392
Washington 392
Wisconsin 392
West Virginia 392
Wyoming 392
(20776, 73)

#### Conclusion:
- this dataset doesn't have information for American Samoa, Northern Mariana Islands, and Virgin Islands
- each state covers 392 days

### Preprocess certain columns

In [29]:
datetime = pd.to_datetime(df_us_hospital.iloc[:, 1], format='%Y-%m-%d')
df_us_hospital.insert(2, 'datetime', datetime)
df_us_hospital.drop(['date'], axis=1, inplace=True)
df_us_hospital.head()

,location_id,datetime,V1,location_name,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,...,est_infections_mean_p100k_rate,est_infections_lower_p100k_rate,est_infections_upper_p100k_rate,inf_cuml_mean,inf_cuml_upper,inf_cuml_lower,seroprev_mean,seroprev_upper,seroprev_lower,seroprev_data_type
70168,524,2020-02-04,2353,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected
70169,524,2020-02-05,2354,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected
70170,524,2020-02-06,2355,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected
70171,524,2020-02-07,2356,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected
70172,524,2020-02-08,2357,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,projected

In [30]:
groups = df_us_hospital.groupby('datetime')
dates = []
for name, group in groups:
    dates.append(name)
dates.sort()
print(dates[:1], dates[-1:])

[Timestamp('2020-02-04 00:00:00')] [Timestamp('2021-03-01 00:00:00')]

Hence this dataset covers from 2020-02-04 to 2021-03-01 for every state in U.S. (data with dates starting from the access date is projected)

In [31]:
## Since the first dataset ends at 11/2, we have to use data before 11/3 from this dataset as well
df_hospital_clean = df_us_hospital[df_us_hospital['datetime']<'2020-11-03']
df_hospital_clean.shape

(14469, 73)

In [32]:
null_by_state_hospital = df_hospital_clean.groupby('location_name').apply(lambda x: (x==0).sum())
null_by_state_hospital

,location_id,datetime,V1,location_name,allbed_mean,allbed_lower,allbed_upper,ICUbed_mean,ICUbed_lower,ICUbed_upper,...,est_infections_mean_p100k_rate,est_infections_lower_p100k_rate,est_infections_upper_p100k_rate,inf_cuml_mean,inf_cuml_upper,inf_cuml_lower,seroprev_mean,seroprev_upper,seroprev_lower,seroprev_data_type
location_name,,,,,,,,,,,,,,,,,,,,,
Alabama,0,0,0,0,33,33,33,33,33,33,...,18,22,18,18,18,22,30,30,34,0
Alaska,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Arizona,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arkansas,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
California,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Colorado,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Connecticut,0,0,0,0,27,27,27,27,27,27,...,12,16,12,12,12,16,24,24,28,0
Delaware,0,0,0,0,52,52,52,52,52,52,...,37,41,37,37,37,41,49,49,53,0
District of Columbia,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Florida,0,0,0,0,22,22,22,22,22,22,...,7,11,7,7,7,11,19,19,23,0
Georgia,0,0,0,0,23,23,23,23,23,23,...,8,12,8,8,8,12,20,20,24,0
Guam,0,0,0,0,35,35,35,35,35,35,...,20,24,20,20,20,24,32,32,36,0
Hawaii,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Idaho,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Illinois,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Indiana,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Iowa,0,0,0,0,29,29,29,29,29,29,...,14,18,14,14,14,18,26,26,30,0
Kansas,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Kentucky,0,0,0,0,36,36,36,36,36,36,...,21,25,21,21,21,25,33,33,37,0
Louisiana,0,0,0,0,29,29,29,29,29,29,...,14,18,14,14,14,18,26,26,30,0
Maine,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Maryland,0,0,0,0,39,39,39,39,39,39,...,24,28,24,24,24,28,36,36,40,0
Massachusetts,0,0,0,0,38,38,38,38,38,38,...,23,27,23,23,23,27,35,35,39,0
Michigan,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Minnesota,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Mississippi,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Missouri,0,0,0,0,34,34,34,34,34,34,...,19,23,19,19,19,23,31,31,35,0
Montana,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Nebraska,0,0,0,0,39,39,39,39,39,39,...,24,28,24,24,24,28,36,36,40,0
Nevada,0,0,0,0,25,25,25,25,25,25,...,10,14,10,10,10,14,22,22,26,0
New Hampshire,0,0,0,0,22,22,22,22,22,22,...,7,11,7,7,7,11,19,19,23,0
New Jersey,0,0,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,2,0
New Mexico,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
New York,0,0,0,0,21,21,21,21,21,21,...,6,10,6,6,6,10,18,18,22,0
North Carolina,0,0,0,0,24,24,24,24,24,24,...,9,13,9,9,9,13,21,21,25,0
North Dakota,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Ohio,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Oklahoma,0,0,0,0,27,27,27,27,27,27,...,12,16,12,12,12,16,24,24,28,0
Oregon,0,0,0,0,20,20,20,20,20,20,...,5,9,5,5,5,9,17,17,21,0
Pennsylvania,0,0,0,0,26,26,26,26,26,26,...,11,15,11,11,11,15,23,23,27,0
Puerto Rico,0,0,0,0,34,34,34,34,34,34,...,19,23,19,19,19,23,31,31,35,0
Rhode Island,0,0,0,0,21,21,21,21,21,21,...,6,10,6,6,6,10,18,18,22,0
South Carolina,0,0,0,0,27,27,27,27,27,27,...,12,16,12,12,12,16,24,24,28,0
South Dakota,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Tennessee,0,0,0,0,25,25,25,25,25,25,...,10,14,10,10,10,14,22,22,26,0
Texas,0,0,0,0,37,37,37,37,37,37,...,22,26,22,22,22,26,34,34,38,0
Utah,0,0,0,0,27,27,27,27,27,27,...,12,16,12,12,12,16,24,24,28,0
Vermont,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Virginia,0,0,0,0,28,28,28,28,28,28,...,13,17,13,13,13,17,25,25,29,0
Washington,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
West Virginia,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0
Wisconsin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wyoming,0,0,0,0,30,30,30,30,30,30,...,15,19,15,15,15,19,27,27,31,0

In [33]:
## select columns with relatively acceptable null
features = ['datetime', 'location_name', 'allbed_mean', 'ICUbed_mean', 'InvVen_mean', 'admis_mean', 'newICU_mean', 
 'deaths_mean', 'totdea_mean', 'mobility_composite', 'total_tests', 'confirmed_infections', 'total_pop']
df_hospital_clean = df_hospital_clean.loc[:, features]
print(df_hospital_clean.shape)
df_hospital_clean.head()

(14469, 13)

,datetime,location_name,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,deaths_mean,totdea_mean,mobility_composite,total_tests,confirmed_infections,total_pop
70168,2020-02-04,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,788027.5317
70169,2020-02-05,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,788027.5317
70170,2020-02-06,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,788027.5317
70171,2020-02-07,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,788027.5317
70172,2020-02-08,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.759226,NaN,NaN,788027.5317

# Merge Dataset 1 & 2
#### Until now, we have:
- df_clean: from 1/22 to 11/2; 56 states; 10 columns
- df_hospital_clean: from 2/4 to 11/2; 53 states; 13 columns

In [73]:
##  According to previous observations, we notice that columns in early months have more null values. 
## Hence we chose to use data starting from 3/27

In [34]:
df_clean  = df_clean[df_clean['datetime']>'2020-03-26']
df_hospital_clean = df_hospital_clean[df_hospital_clean['datetime']>'2020-03-26']

In [35]:
## df_hospital_clean doesn't have data for American Samoa, Northern Mariana Islands, Virgin Islands
## Hence we dropped data for the three regions in df_clean
df_clean = df_clean.drop(df_clean[df_clean['location_name']=='American Samoa'].index, axis=0)
df_clean = df_clean.drop(df_clean[df_clean['location_name']=='Northern Mariana Islands'].index, axis=0)
df_clean = df_clean.drop(df_clean[df_clean['location_name']=='Virgin Islands'].index, axis=0)

In [36]:
print(df_clean.shape)
print(df_hospital_clean.shape)

(11713, 10)
(11713, 13)

In [40]:
df_merge = pd.merge(df_clean, df_hospital_clean, on=['datetime', 'location_name'])
print(df_merge.shape)

(11713, 21)

In [41]:
df_merge.drop(['hospitalizedCurrently', 'inIcuCurrently', 'onVentilatorCurrently', 'recovered'], axis=1, inplace=True)
df_merge

,datetime,location_name,death,negative,positive,totalTestResults,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,deaths_mean,totdea_mean,mobility_composite,total_tests,confirmed_infections,total_pop
0,2020-11-02,Alaska,84.0,603113.0,17057.0,620170.0,96.400137,25.956058,11.018175,4.366849,1.599392,1.0,84.0,-18.182785,64.164058,352.0,7.880275e+05
1,2020-11-02,Alabama,2973.0,1190436.0,194892.0,1356420.0,985.931400,265.465311,112.688274,35.241762,17.716837,0.0,2973.0,-8.537036,76.536974,907.0,4.977688e+06
2,2020-11-02,Arkansas,1985.0,1258726.0,113641.0,1363429.0,645.171493,173.714572,73.740690,80.298764,32.241877,27.0,1985.0,-12.654483,97.087762,584.0,3.057349e+06
3,2020-11-02,Arizona,5982.0,1550382.0,248139.0,1792602.0,1058.106450,284.898684,120.937613,66.358930,28.997950,3.0,5982.0,-22.250686,115.791951,666.0,7.249680e+06
4,2020-11-02,California,17672.0,17981873.0,930628.0,18912501.0,3267.641088,789.854105,335.287859,120.673427,51.708698,18.0,17689.0,-32.546875,1365.298154,4533.0,3.987203e+07
5,2020-11-02,Colorado,2105.0,1133557.0,109910.0,2034795.0,834.881033,224.794497,95.423782,32.215485,16.348864,4.0,2292.0,-28.245814,119.001898,2237.0,5.401063e+06
6,2020-11-02,Connecticut,4627.0,2294136.0,73858.0,2367994.0,345.745415,93.093104,39.517409,16.034186,9.281827,11.0,4627.0,-25.379137,244.489556,2651.0,3.693747e+06
7,2020-11-02,District of Columbia,647.0,510736.0,17438.0,528174.0,96.234181,25.911374,10.999207,3.832849,1.375642,1.0,647.0,-40.694680,43.256851,69.0,6.502245e+05
8,2020-11-02,Delaware,710.0,329359.0,25311.0,565983.0,104.266968,25.427501,10.793807,3.916328,1.971511,2.0,712.0,-27.096459,16.901942,115.0,9.750952e+05
9,2020-11-02,Florida,17043.0,5399014.0,801371.0,10126764.0,2405.420042,647.667353,274.930520,149.848353,64.827452,45.0,16834.0,-22.753967,313.344108,4651.0,2.117489e+07
10,2020-11-02,Georgia,7999.0,3233779.0,362921.0,3596700.0,1739.948855,468.487021,198.869651,102.100824,39.186448,18.0,7999.0,-17.127396,228.789168,939.0,1.066813e+07
11,2020-11-02,Guam,79.0,62971.0,4693.0,67664.0,94.885593,5.298936,1.854628,7.689925,2.221100,0.0,79.0,-18.165224,5.874869,NaN,1.706275e+05
12,2020-11-02,Hawaii,219.0,295153.0,15367.0,533672.0,58.367518,15.715648,6.671189,2.256081,0.946107,0.0,219.0,-34.322767,17.499052,77.0,1.487443e+06
13,2020-11-02,Iowa,1741.0,777622.0,123372.0,900994.0,706.232310,165.714875,58.000206,47.761226,23.694155,23.0,1756.0,-9.954386,49.204559,1542.0,3.130718e+06
14,2020-11-02,Idaho,630.0,331179.0,65088.0,387935.0,233.779781,62.945984,26.720155,23.509050,12.145865,47.0,632.0,-14.572581,27.112512,757.0,1.735119e+06
15,2020-11-02,Illinois,10093.0,7452919.0,429761.0,7882680.0,3450.363469,739.468964,314.512043,173.249134,80.320531,18.0,10093.0,-25.927127,813.083838,6222.0,1.304251e+07
16,2020-11-02,Indiana,4390.0,1537657.0,185185.0,2970330.0,1799.221909,536.021057,187.607370,89.276746,47.455388,26.0,4390.0,-16.162849,129.147567,3077.0,6.719600e+06
17,2020-11-02,Kansas,1046.0,566040.0,89227.0,655267.0,478.609080,128.867088,54.703229,34.991383,14.697164,20.0,1045.0,-15.382489,44.056171,448.0,2.969706e+06
18,2020-11-02,Kentucky,1492.0,1833912.0,109670.0,1926140.0,1009.030669,256.573050,108.913568,23.419889,12.178498,3.0,1492.0,-16.689022,209.695277,1028.0,4.504877e+06
19,2020-11-02,Louisiana,5934.0,2600489.0,187995.0,2788484.0,612.519102,164.922807,70.008644,32.809950,15.890471,8.0,5934.0,-13.939074,123.441817,275.0,4.588275e+06
20,2020-11-02,Massachusetts,10023.0,2615698.0,160549.0,6217043.0,531.828556,104.117640,44.197251,30.050280,20.780794,10.0,10023.0,-38.406789,177.306530,842.0,6.665096e+06
21,2020-11-02,Maryland,4155.0,1813450.0,146995.0,3479230.0,546.824703,137.423539,58.335386,22.565896,10.424317,3.0,4155.0,-31.747687,104.524366,850.0,6.142347e+06
22,2020-11-02,Maine,148.0,637636.0,6799.0,644435.0,25.265938,8.391593,4.171078,1.413985,0.721196,1.0,148.0,-16.697690,76.884574,87.0,1.353539e+06
23,2020-11-02,Michigan,7716.0,4803973.0,204326.0,5008299.0,1946.503175,524.102459,222.478038,55.622161,36.904087,17.0,7716.0,-25.059584,488.241817,6920.0,9.712915e+06
24,2020-11-02,Minnesota,2484.0,1739289.0,153620.0,2872763.0,807.387976,389.567656,165.368901,45.343457,27.282067,9.0,2538.0,-22.659627,248.353790,2948.0,5.565821e+06
25,2020-11-02,Missouri,3031.0,1339912.0,188186.0,2553774.0,1622.961374,436.987753,185.498419,51.232754,26.747650,5.0,3031.0,-17.972109,94.557077,2651.0,6.242957e+06
26,2020-11-02,Mississippi,3348.0,837208.0,120865.0,958073.0,673.096148,167.399506,75.654418,31.886101,15.276286,0.0,3348.0,-8.452800,48.342978,365.0,3.003694e+06
27,2020-11-02,Montana,386.0,474679.0,34252.0,508931.0,386.490021,104.063725,44.174365,32.608275,14.554305,10.0,386.0,-15.057382,47.205192,757.0,1.039607e+06
28,2020-11-02,North Carolina,4390.0,3849568.0,278028.0,4127596.0,1173.692189,316.020529,134.148630,90.645566,43.876537,7.0,4390.0,-21.596015,370.389038,1336.0,1.059103e+07
29,2020-11-02,North Dakota,417.0,251432.0,46015.0,848765.0,313.756236,84.479911,35.861165,30.698308,16.736117,9.0,540.0,-13.386084,19.228035,972.0,7.082498e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,2020-03-27,Michigan,212.0,14140.0,13799.0,27939.0,824.351409,304.704092,214.644324,101.777135,65.001456,32.0,95.0,-65.629816,34.739682,857.0,9.712915e+06
11684,2020-03-27,Minnesota,4.0,13605.0,640.0,14245.0,32.231437,16.191600,11.405935,4.108455,2.423385,2.0,4.0,-57.208657,15.936337,52.0,5.565821e+06
11685,2020-03-27,Missouri,8.0,369.0,669.0,12479.0,84.236068,31.136084,21.933357,7.425489,3.581598,0.0,8.0,-43.884003,12.564991,171.0,6.242957e+06
11686,2020-03-27,Mississippi,8.0,2560.0,579.0,3139.0,103.986996,32.529031,20.191492,9.105868,4.177544,2.0,8.0,-31.110676,4.306931,94.0,3.003694e+06
11687,2020-03-27,Montana,NaN,2590.0,108.0,2698.0,11.035875,4.079178,2.873517,1.175469,0.500964,1.0,1.0,-34.056287,3.645516,19.0,1.039607e+06
11688,2020-03-27,North Carolina,3.0,14373.0,763.0,15136.0,59.356032,21.939704,15.455102,6.789580,2.946231,1.0,3.0,-41.625320,19.298957,130.0,1.059103e+07
11689,2020-03-27,North Dakota,0.0,2427.0,61.0,2549.0,5.990846,2.214390,1.559894,0.594684,0.318770,1.0,1.0,-39.870174,3.326386,16.0,7.082498e+05
11690,2020-03-27,Nebraska,0.0,1761.0,85.0,1731.0,16.983657,6.277650,4.422198,2.185323,0.822377,0.0,0.0,-33.010395,2.839227,12.0,1.913992e+06
11691,2020-03-27,New Hampshire,1.0,3395.0,158.0,4338.0,14.793478,5.468097,3.851920,1.041302,0.806634,1.0,2.0,-44.043141,5.436657,NaN,1.352739e+06
11692,2020-03-27,New Jersey,140.0,16547.0,8825.0,25372.0,1221.156903,172.190894,172.190894,324.175242,136.726418,32.0,140.0,-58.977252,41.941414,1949.0,9.039889e+06
11693,2020-03-27,New Mexico,1.0,8377.0,136.0,8513.0,11.678692,4.316782,3.040894,2.601707,0.971443,0.0,1.0,-38.642516,8.365632,23.0,2.185562e+06
11694,2020-03-27,Nevada,21.0,6161.0,535.0,11365.0,132.878902,49.115880,34.598961,22.302251,8.200412,4.0,21.0,-52.809243,9.132365,115.0,3.215025e+06
11695,2020-03-27,New York,519.0,101118.0,44635.0,145753.0,6182.118769,2285.089664,1609.697865,1652.353629,640.824635,188.0,749.0,-63.697587,154.980208,5626.0,1.979037e+07
11696,2020-03-27,Ohio,19.0,19012.0,1137.0,20149.0,121.359781,44.858080,31.599616,18.250176,10.673716,4.0,19.0,-45.174179,22.855365,269.0,1.157859e+07
11697,2020-03-27,Oklahoma,8.0,1084.0,322.0,1406.0,66.313071,48.203565,33.956294,13.991923,5.491515,1.0,8.0,-38.358133,1.772631,74.0,3.946852e+06
11698,2020-03-27,Oregon,12.0,8510.0,414.0,8924.0,91.751682,27.226078,22.571497,6.475769,2.701851,1.0,12.0,-46.234051,10.800026,100.0,4.030309e+06
11699,2020-03-27,Pennsylvania,22.0,21016.0,2218.0,23234.0,240.860204,89.028888,62.715093,34.692311,17.932486,4.0,22.0,-51.508628,38.483978,550.0,1.299486e+07
11700,2020-03-27,Puerto Rico,3.0,519.0,79.0,598.0,35.248808,12.628906,12.628906,5.373348,1.910371,1.0,3.0,-58.267762,2.191636,8.0,3.521431e+06
11701,2020-03-27,Rhode Island,NaN,2502.0,248.0,2603.0,24.639690,8.955014,6.320062,3.938568,2.067603,0.0,0.0,-50.456648,3.152081,38.0,1.044171e+06
11702,2020-03-27,South Carolina,9.0,2307.0,456.0,2763.0,100.437793,37.124709,26.151956,9.462321,4.220123,4.0,13.0,-35.037319,5.286128,121.0,5.045228e+06
11703,2020-03-27,South Dakota,1.0,2387.0,58.0,2445.0,12.431994,4.595224,3.237038,0.881924,0.327385,0.0,1.0,-26.931137,2.576219,12.0,8.648215e+05
11704,2020-03-27,Tennessee,6.0,14888.0,1203.0,16091.0,131.710913,48.684158,34.294840,19.791105,6.792870,3.0,6.0,-34.819971,25.223995,221.0,6.726396e+06
11705,2020-03-27,Texas,23.0,21935.0,1731.0,23666.0,112.606598,41.622651,29.320466,33.916796,11.680710,6.0,25.0,-45.314090,38.280445,345.0,2.841864e+07
11706,2020-03-27,Utah,2.0,8764.0,480.0,12545.0,26.225205,6.775703,4.773045,5.534070,1.534724,0.0,1.0,-43.610831,16.086727,76.0,3.147205e+06
11707,2020-03-27,Virginia,14.0,6733.0,604.0,14778.0,145.398984,47.399048,29.459875,10.181994,5.044936,0.0,10.0,-48.461604,11.410577,141.0,8.695418e+06
11708,2020-03-27,Vermont,10.0,2868.0,213.0,3248.0,24.802826,9.167841,6.458151,2.885183,1.453349,1.0,10.0,-56.482142,3.038139,26.0,6.273707e+05
11709,2020-03-27,Washington,199.0,67906.0,5391.0,73297.0,749.637674,277.087737,195.190388,54.112843,26.687827,16.0,252.0,-47.091469,36.770613,386.0,7.301577e+06
11710,2020-03-27,Wisconsin,13.0,13140.0,969.0,14689.0,95.018632,44.451884,31.313477,20.498698,8.197648,4.0,14.0,-52.742534,15.717625,198.0,5.877688e+06
11711,2020-03-27,West Virginia,0.0,1779.0,76.0,1855.0,5.463925,1.114011,1.114011,0.410151,0.192794,0.0,0.0,-37.382829,3.790385,24.0,1.860312e+06
11712,2020-03-27,Wyoming,0.0,1211.0,70.0,1281.0,0.498324,0.184195,0.129753,0.049426,0.018696,0.0,0.0,-24.931016,1.687683,23.0,6.102995e+05

In [44]:
#null_by_state = df_merge.groupby('location_name').apply(lambda x: x.isnull().sum())
#null_by_state

In [45]:
df_merge.to_csv('covid_us_merge.csv', index=False)

# Dataset 3. Mobility data
 - this dataset is downloaded from [a github dataset](https://github.com/GeoDS/COVID19USFlows)
 - we have chosen to download data from 2020-03-27 to 2020-11-02
 - we didn't upload this dataset on GitHub because its size reached maximum

### Dataset Structure & Preprocessing

In [79]:
df_mobility = pd.read_csv('daily_state2state.csv')
print(df_mobility.shape)
df_mobility.head()

(589813, 9)

,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,date_range,visitor_flows,pop_flows
0,1,1,-86.844521,32.75688,-86.844521,32.756880,2020/3/27,806784,9782825
1,1,2,-86.844521,32.75688,-151.250549,63.788469,2020/3/27,19,230
2,1,4,-86.844521,32.75688,-111.664460,34.293095,2020/3/27,199,2413
3,1,5,-86.844521,32.75688,-92.439237,34.899772,2020/3/27,470,5699
4,1,6,-86.844521,32.75688,-119.663846,37.215308,2020/3/27,479,5808

#### Conclusion:
- The dataset uses longitude and latitude to represent different states
- For each date, one row records visitor_flows and pop_flows move from one place to another destination
- We want to calculate the total visitor flows and total population flows for every state on each date

In [80]:
datetime = pd.to_datetime(df_mobility.iloc[:, 6], format='%Y-%m-%d')
df_mobility.insert(0, 'datetime', datetime)
df_mobility.drop(['date_range'], axis=1, inplace=True)
df_mobility.head()

,datetime,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,visitor_flows,pop_flows
0,2020-03-27,1,1,-86.844521,32.75688,-86.844521,32.756880,806784,9782825
1,2020-03-27,1,2,-86.844521,32.75688,-151.250549,63.788469,19,230
2,2020-03-27,1,4,-86.844521,32.75688,-111.664460,34.293095,199,2413
3,2020-03-27,1,5,-86.844521,32.75688,-92.439237,34.899772,470,5699
4,2020-03-27,1,6,-86.844521,32.75688,-119.663846,37.215308,479,5808

In [81]:
df_mobility[df_mobility['geoid_o'] == 1]['geoid_d']

0          1
1          2
2          4
3          5
4          6
5          8
6          9
7         10
8         11
9         12
10        13
11        15
12        16
13        17
14        18
15        19
16        20
17        21
18        22
19        23
20        24
21        25
22        26
23        27
24        28
25        29
26        30
27        31
28        32
29        33
          ..
587180    25
587181    26
587182    27
587183    28
587184    29
587185    30
587186    31
587187    32
587188    33
587189    34
587190    35
587191    36
587192    37
587193    38
587194    39
587195    40
587196    41
587197    42
587198    45
587199    46
587200    47
587201    48
587202    49
587203    50
587204    51
587205    53
587206    54
587207    55
587208    56
587209    72
Name: geoid_d, Length: 11491, dtype: int64

In [82]:
## we noticed that the region geoid ==72 has a problematic latitude and longitude, which cannot be recognized on the map
## hence we dropped rows which contains geoid == 72
df_mobility.drop(df_mobility[df_mobility['geoid_o']==72].index, axis=0, inplace=True)
df_mobility.drop(df_mobility[df_mobility['geoid_d']==72].index, axis=0, inplace=True)

### Aggregate visitor flows and pop flows of each state on each date

In [83]:
result = df_mobility.groupby(['datetime', 'geoid_o']).agg({'visitor_flows': 'sum', 'pop_flows': 'sum'})
df_outflow = result.reset_index()
df_outflow.rename(columns={'geoid_o': 'geoid', 'visitor_flows': 'visitor_outflow', 'pop_flows':'pop_outflow'}, inplace=True)
print(df_outflow.shape)
df_outflow.head()

(11271, 4)

    datetime  geoid  visitor_outflow  pop_outflow
0 2020-03-27      1           851538     10325474
1 2020-03-27      2            40167      1081863
2 2020-03-27      4           603781     11941596
3 2020-03-27      5           446011      6067115
4 2020-03-27      6          2377377     65100117

In [84]:
result2 = df_mobility.groupby(['datetime', 'geoid_d']).agg({'visitor_flows': 'sum', 'pop_flows': 'sum'})
df_inflow = result2.reset_index()
df_inflow.rename(columns={'geoid_d': 'geoid', 'visitor_flows': 'visitor_inflow', 'pop_flows':'pop_inflow'}, inplace=True)
print(df_inflow.shape)
df_inflow.head()

(11271, 4)

    datetime  geoid  visitor_inflow  pop_inflow
0 2020-03-27      1          843234    10367598
1 2020-03-27      2           40642     1082693
2 2020-03-27      4          602943    11967096
3 2020-03-27      5          445254     6113562
4 2020-03-27      6         2365173    64430714

In [85]:
df_mob_merge = pd.merge(df_outflow, df_inflow, on=['datetime', 'geoid'])
df_mob_merge.head()

    datetime  geoid  visitor_outflow  pop_outflow  visitor_inflow  pop_inflow
0 2020-03-27      1           851538     10325474          843234    10367598
1 2020-03-27      2            40167      1081863           40642     1082693
2 2020-03-27      4           603781     11941596          602943    11967096
3 2020-03-27      5           446011      6067115          445254     6113562
4 2020-03-27      6          2377377     65100117         2365173    64430714

### Match state names to latitude & longitude

In [86]:
df_mobility.groupby(['geoid_o', 'lat_o', 'lng_o']).groups.keys()

dict_keys([(1, 32.75687994, -86.844521), (2, 63.74298902, -151.5934219), (2, 63.78846948, -151.25054880000002), (4, 34.29309519, -111.66446029999999), (5, 34.89977242, -92.43923686), (6, 37.21530826, -119.6638459), (8, 38.9985316, -105.5478211), (9, 41.57516415, -72.73825768), (10, 38.99497529, -75.45249263), (11, 38.90477389, -77.01629090000002), (12, 28.47705841, -82.46641839), (13, 32.63861711, -83.42714021), (15, 20.9951112, -158.1099738), (16, 44.38905509, -114.65941399999998), (17, 40.12420083, -89.14863899), (18, 39.91986962, -86.28183839), (19, 42.07464833, -93.50009012), (20, 38.48472707, -98.3801554), (21, 37.52661417, -85.29055223), (22, 30.909072899999998, -91.81423318), (23, 45.27432853, -69.20275986), (24, 38.94649396, -76.68717734), (25, 42.16009327, -71.50397204), (26, 44.874773600000005, -85.73095291), (27, 46.34911038, -94.1983056), (28, 32.71289227, -89.65335941), (29, 38.36763044, -92.4774252), (30, 47.03342111, -109.64520700000001), (31, 41.52715113, -99.81085586), (32, 39.35618587, -116.6552487), (33, 43.68023706, -71.57124317), (34, 40.11017985, -74.65561231), (35, 34.42130099, -106.1084439), (36, 42.92123355, -75.59654322), (37, 35.52603039, -79.13090892), (38, 47.44631042, -100.4693908), (39, 40.41548691, -82.70937701), (40, 35.58346465, -97.50822793), (41, 43.94045139, -120.60525630000001), (42, 40.89670051, -77.83893801), (44, 41.5946389, -71.52472356), (45, 33.87785607, -80.86459716), (46, 44.43613759, -100.23046550000001), (46, 44.44664208, -100.2033536), (47, 35.84298014, -86.34341233), (48, 31.44721219, -99.31712097), (49, 39.32376871, -111.67825), (50, 44.07524823, -72.66263037), (51, 37.510873100000005, -78.66634949), (53, 47.41163922, -120.5928999), (54, 38.6425671, -80.6137069), (55, 44.63994411, -89.73293306), (56, 42.99953746, -107.5513942)])

In [87]:
## match state abbreviation with geoid
geo_dict = {1: 'AL', 2:'AK', 4: 'AZ', 5: 'AR', 6: 'CA', 8: 'CO', 9: 'CT', 10: 'DE', 
        11: 'DC', 12: 'FL', 13: 'GA', 15: 'HI', 16: 'ID', 17: 'IL', 18: 'IN', 19: 'IA', 20: 'KS', 
       21: 'KY', 22: 'LA', 23: 'ME', 24: 'MD', 25: 'MA', 26: 'MI', 27: 'MN', 28: 'MS', 29: 'MO', 30: 'MT', 
       31: 'NE', 32: 'NV', 33: 'NH', 34: 'NJ', 35: 'NM', 36: 'NY', 37: 'NC', 38: 'ND', 39: 'OH', 40: 'OK',
       41: 'OR', 42: 'PA', 44: 'RI', 45: 'SC', 46: 'SD', 47: 'TN', 48: 'TX', 49: 'UT', 50: 'VT', 
       51: 'VA', 53: 'WA', 54: 'WV', 55: 'WI', 56: 'WY'}   ## 51 regions

In [88]:
location_name = df_mob_merge.geoid.apply(lambda x: us_state_abbrev[geo_dict[x]])
df_mob_merge.insert(1, 'location_name', location_name)
df_mob_merge.drop(['geoid'], axis=1, inplace=True)
df_mob_merge.head()

,datetime,location_name,visitor_outflow,pop_outflow,visitor_inflow,pop_inflow
0,2020-03-27,Alabama,851538,10325474,843234,10367598
1,2020-03-27,Alaska,40167,1081863,40642,1082693
2,2020-03-27,Arizona,603781,11941596,602943,11967096
3,2020-03-27,Arkansas,446011,6067115,445254,6113562
4,2020-03-27,California,2377377,65100117,2365173,64430714

In [89]:
print(df_mob_merge.shape)

(11271, 6)

In [93]:
df_mob_merge.to_csv('mobility_us_merge.csv', index=False)

# Merge Dataset 1, 2, 3
#### Until now, we have:
- dataset 1&2 merged together: covers from 3/27 to 11/2, 53 states
- dataset 3 (mobility data): covers from 3/27 to 11/2, 51 states (Guam, Puerto Rico)

In [91]:
## this datasheet has merged dataset 1 & 2
df = pd.read_csv('covid_us_merge.csv')
print(df.shape)
df.head()

(11713, 17)

,datetime,location_name,death,negative,positive,totalTestResults,allbed_mean,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,deaths_mean,totdea_mean,mobility_composite,total_tests,confirmed_infections,total_pop
0,2020-11-02,Alaska,84.0,603113.0,17057.0,620170.0,96.400137,25.956058,11.018175,4.366849,1.599392,1.0,84.0,-18.182785,64.164058,352.0,7.880275e+05
1,2020-11-02,Alabama,2973.0,1190436.0,194892.0,1356420.0,985.931400,265.465311,112.688274,35.241762,17.716837,0.0,2973.0,-8.537036,76.536974,907.0,4.977688e+06
2,2020-11-02,Arkansas,1985.0,1258726.0,113641.0,1363429.0,645.171493,173.714572,73.740690,80.298764,32.241877,27.0,1985.0,-12.654483,97.087762,584.0,3.057349e+06
3,2020-11-02,Arizona,5982.0,1550382.0,248139.0,1792602.0,1058.106450,284.898684,120.937613,66.358930,28.997950,3.0,5982.0,-22.250686,115.791951,666.0,7.249680e+06
4,2020-11-02,California,17672.0,17981873.0,930628.0,18912501.0,3267.641088,789.854105,335.287859,120.673428,51.708698,18.0,17689.0,-32.546875,1365.298154,4533.0,3.987203e+07

In [94]:
df2 = pd.read_csv('mobility_us_merge.csv')
print(df2.shape)
df2.head()

(11271, 6)

,datetime,location_name,visitor_outflow,pop_outflow,visitor_inflow,pop_inflow
0,2020-03-27,Alabama,851538,10325474,843234,10367598
1,2020-03-27,Alaska,40167,1081863,40642,1082693
2,2020-03-27,Arizona,603781,11941596,602943,11967096
3,2020-03-27,Arkansas,446011,6067115,445254,6113562
4,2020-03-27,California,2377377,65100117,2365173,64430714

In [95]:
df_all = pd.merge(df2, df, on=['datetime', 'location_name'])
print(df_all.shape)
df_all.head()

(11271, 21)

,datetime,location_name,visitor_outflow,pop_outflow,visitor_inflow,pop_inflow,death,negative,positive,totalTestResults,...,ICUbed_mean,InvVen_mean,admis_mean,newICU_mean,deaths_mean,totdea_mean,mobility_composite,total_tests,confirmed_infections,total_pop
0,2020-03-27,Alabama,851538,10325474,843234,10367598,3.0,4184.0,587.0,4771.0,...,43.517784,30.655464,8.480432,4.133427,3.0,4.0,-30.616021,6.058722,71.0,4.977688e+06
1,2020-03-27,Alaska,40167,1081863,40642,1082693,1.0,2319.0,69.0,2388.0,...,35.580906,25.064447,1.920386,0.654095,0.0,1.0,-46.856247,3.464309,10.0,7.880275e+05
2,2020-03-27,Arizona,603781,11941596,602943,11967096,13.0,7455.0,736.0,8191.0,...,39.294831,27.680667,13.369623,5.642218,5.0,13.0,-42.911514,16.092132,158.0,7.249680e+06
3,2020-03-27,Arkansas,446011,6067115,445254,6113562,3.0,1545.0,381.0,1926.0,...,14.464876,10.189569,4.690174,1.716415,1.0,3.0,-32.910349,6.228745,45.0,3.057349e+06
4,2020-03-27,California,2377377,65100117,2365173,64430714,78.0,17380.0,3879.0,21259.0,...,417.665987,294.218673,86.191841,33.690555,13.0,94.0,-50.200762,64.754388,758.0,3.987203e+07

In [103]:
state_names = list(df_all.groupby('location_name').groups.keys())
len(state_names)

51

In [104]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11271 entries, 0 to 11270
Data columns (total 21 columns):
datetime                11271 non-null object
location_name           11271 non-null object
visitor_outflow         11271 non-null int64
pop_outflow             11271 non-null int64
visitor_inflow          11271 non-null int64
pop_inflow              11271 non-null int64
death                   11263 non-null float64
negative                11271 non-null float64
positive                11271 non-null float64
totalTestResults        11271 non-null float64
allbed_mean             11271 non-null float64
ICUbed_mean             11271 non-null float64
InvVen_mean             11271 non-null float64
admis_mean              11271 non-null float64
newICU_mean             11271 non-null float64
deaths_mean             11064 non-null float64
totdea_mean             11064 non-null float64
mobility_composite      11271 non-null float64
total_tests             11271 non-null float64
confirmed_infections    11089 non-null float64
total_pop               11271 non-null float64
dtypes: float64(15), int64(4), object(2)
memory usage: 1.9+ MB

In [105]:
df_all.drop(['deaths_mean', 'totdea_mean', 'confirmed_infections'], axis=1, inplace=True)

In [106]:
df_all = df_all[df_all['datetime']>='2020-04-01']

In [109]:
print(df_all.shape)
#df_all.groupby(['location_name']).apply(lambda x: x.isnull().sum())

(11016, 18)

In [110]:
#df_all.groupby(['location_name']).apply(lambda x: (x==0).sum())

In [111]:
df_all.to_csv('all_us_data.csv', index=False)

*We have uploaded the final version of dataset to GitHub*